# Predicción de diabetes con datos PIMA
## Librerias Necesarias

In [1]:
# Panda es una libreria de manejo de datos
import pandas as pd

# Matplotlib es una libreria de gráficos
import matplotlib.pyplot as plt

# Numpy es una librería que provee de objetos de n-dimensiones
import numpy as np

# Hace el grafico en la misma ventana
%matplotlib inline

## Carga y revision de los datos

In [2]:
# Se cargan los datos de PIMA
df = pd.read_csv("../data/pima-data.csv")

In [3]:
# Shape indica las filas y columnas de la data recien cargada
df.shape

(768, 10)

In [4]:
# Muestra las primeras filas de datos
df.head(6)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,True
1,1,85,66,29,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,0,23.3,0.672,32,0.0000,True
3,1,89,66,23,94,28.1,0.167,21,0.9062,False
4,0,137,40,35,168,43.1,2.288,33,1.3790,True
5,5,116,74,0,0,25.6,0.201,30,0.0000,False

In [5]:
# Muestra las ultimas filas de datos
df.tail(4)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
764,2,122,70,27,0,36.8,0.340,27,1.0638,False
765,5,121,72,23,112,26.2,0.245,30,0.9062,False
766,1,126,60,0,0,30.1,0.349,47,0.0000,True
767,1,93,70,31,0,30.4,0.315,23,1.2214,False

## Definición y evaluación de los datos

Evaluamos y categorizamos la informacion proveniente de la base de datos

|Campo | Descripción | Comentario |
|------|-------------|------------|
|num_preg | numero de embarasos ||
|glucose_conc| Concentración de glucosa en la sangre a 2 horas de realizado el test de tolerancia ||
|diastolic_bp | Presión arterial diastólica (mm Hg)||
|thickness | Grosor del pliege cutaneo (mm)||
|insulin | 2 horas de insulina en suero ||
|bmi | Indice de masa corporal ||
|diab_pred | Función pedigree de la diabetes ||
|age | Edad en años ||
|skin |¿? | ¿Que es esto?|
|diabetes | 1=True, 0=false | ¿Por que es boleano?|

### Por lo general vamos a querer eliminar todos los datos que no necesitemos, tales como columnas que no tienen informacion, no estan completas, con información duplicada (en diferentes formatos), columnas con datos calculadoso no son significativas.

## Revision de datos nulos

In [7]:
# Revisamos si existen datos nulos, 
# la funcion devuelve True si existen valores nulos
# o False si no existen
df.isnull().values.any()

False